.footer h3 {
  font-style: italic;
  border: 3px solid blue;
}

.navbar {
  background-color: orange;
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: gray;
}

.navbar a:hover {
  color: royalblue;
}

.heading, h1, .footer h3 {
  color: orange;
  font-size: 40px;
  background-color: gray;
  text-align: center;
}

h1:hover, .footer h3:hover {
  background-color: green;
}
/*# sourceMappingURL=style.css.map */