@import 'config';
@import 'utilities';
@import 'form';

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img {
    width: 100%;
 }

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom:solid 1px $primary-color;
    opacity: 0.9;

ul {
    display: flex;
    }

    a {
        color: #fff;
        padding:0.45rem;
        margin:0 0.25rem;
    
        &:hover{
            color: $primary-color;
        }
    }
} 


.landing {
    position: relative;
    background:url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner {
        color: #fff;
        height: 100%;
        display:flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

// Profiles page
.profile{
display:grid;
grid-template-columns:2fr 4fr 2fr;
grid-gap:2rem;
align-items: center;
padding: 2rem;
line-height: 1.8rem;
margin-bottom: 1rem;

}

.round-img{
    border-radius: 50%;
}