*{
    margin: 0 auto 0 auto;
    text-align: left;
}

body{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #1c478c;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;

}

.white-text{
    color: #67ADF5;
}

table,tr,td,th{
    margin: 0;
}
table{
    padding: 10px 0;
}
th{
    text-align: center;
}
td{
    padding: 5px 20px;
}

a{
    text-decoration: none;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    color: #67ADF5;
}

h4{
    font-size: 15px;
    font-weight: bold;
    padding-bottom:7px;
    color: #67ADF5;
}
p{
    margin: 10px 0;
}

h2{
    padding-bottom:10px;
}
label{
    display: inline-block;
    width: 150px;
}


#container{
    width: 960px;
}

header{
    width: 960px;
    height: 85px;
}

header h1{
    color: #fff;
    float: left;
    font-size: 42px;
    padding:20px 0 0 20px;
}

header h2{
    color: #fff;
    float:right;
    padding:40px 20px 0 0;
}

header h1 span.blue-text{
    color:#67ADF5;
}

#header h2 span.white-text{
    color:#fff;

}

aside{
    color: #fff;
}

aside input[type="text"],[type="email"]{
    margin-bottom:10px;
}

#displayname{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    float: right;
}

#menu{
    display: block;
    float: left;
    clear: both;
    width: 960px;
    height: 54px;
}

#menu ul{
    list-style: none;
    padding: 0;
    padding-top: 15px;
    margin-left: auto;
    width: 960px;
}

#menu li{
    list-style: none;
    display: inline;
    padding: 0;
    }
 #menu li a, #menu li a:visited {
    float: left;
     color: #fff;
     text-decoration: none;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     padding: 0 13px 0 13px;
 }   

 #left-menu{
     margin-top:15px;
     width:190px;
     float: left;
     background-color: #1c478c;
     border-radius: 10px;
     padding:15px 20px 10px 10px;
 }

 #left-menu ul {
     list-style: none;
     padding: 0;
 }
 #left-menu li{
     list-style: none;
     padding:15px 0px 8px 0;
     border-bottom: 1px dashed #fff;
 }

 #left-menu a, #left-menu a:visited{
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     font-size: 14px;
 }

 #left-menu h3{
     color: #fff;
     padding: 0;
     padding-bottom: 8px;
     border-bottom: 2px solid white;
     font-size: 16px;
 }

 #content {
     width: 680px;
     margin-top:15px;
     display: block;
     float: left;
     background:#fff;
     border-radius: 10px;
     border: 6px solid #1c478c;
     padding: 15px;
     margin-left:16px;
}
.float{
    float:right;
    margin: 15px;
}

#developer{
    width: 170px;
    float: right;
}
#developer ul{
    margin-bottom: 10px;
    list-style: none;
    padding:0;

}

#developer li{
    list-style: none;
    line-height: 1.7em;
}

table.dev-table,table.dev-table tr, table.dev-table td, table.dev-table th{
    font-size: 110%;
    
}

.dev-table tr, table.dev-table td{
    border-bottom: 1px dashed;
}

footer{
    text-align: center;
    color: #fff;
    background-color: #000;
    margin:20px;
    padding: 10px 0;
}